[project]
name = "{{ package_name }}"
version = "0.0.0"
dependencies = []
requires-python = ">=3.13"
authors = [
  { name = "{{ author_full_name }}", email = "{{ author_email }}" },
]
description = "{{ description_short }}"
readme = "README.md"
license = "Unlicense"
license-files = ["LICENSE*"]
classifiers = [
  "Development Status :: 1 - Planning",
  "Programming Language :: Python :: 3 :: Only",
]

[project.scripts]
{{ package_name }} = "{{ package_name }}.__main__:main"

[project.urls]
Repository = "{{ repository_url }}"
Issues = "{{ repository_url }}/issues"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
  "lefthook>=2.1.6",
  "pytest>=8.4.2",
  "pytest-cov>=7.1.0",
  "ruff>=0.15.12",
]

[tool.coverage.report]
fail_under = 100
omit = ["*/__main__.py"]

[tool.coverage.run]
source = ["boid"]

[tool.ruff.lint]
select = ["ALL"]
ignore = ["COM812", "D203", "D213"]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["S101", "D"]
