# {{ project_name }}

Description : {{ description_short }}

## Usage

### Developer Usage

See [developer notes](docs/developer_notes.md) but here is the TLDR:

Use synchronize to synchronize the project dependencies:

```sh
uv sync
```

To use pip like commands run:

```sh
uv pip  [pip command]
```
